@import 'pixhub-dark.scss';

#user-name {
	font-size: 4em;
	font-weight: 100;
}

#user-avatar {
	border: 3px solid white;
	height: 256px;
	margin: 0 auto;
	width: 256px;
}

#user-location {
	font-size: 1.5em;
}

#user-website a {
	color: white;
	font-size: 1.3em;
}

#user-page {
	padding: 50px 0;
}
