@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import 'pixhub-variables.scss';

body {
	background-color: #fff;


	color: #333;

	padding-top: 50px;

	font-family: "Roboto Condensed";
}

/*h1, h2, h3, h4, h5, h6 { color: #6f5f53; }*/

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
}

.navbar-search {
	width: 300px;
}

.navbar a {
	color: #333 !important;
}

.navbar-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	border: 0;
}

.navbar a {
	color: #fff;
}

.navbar-nav li a:hover {
	background: -webkit-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* Standard syntax (must be last) */
	color: #fff;
}

#footer {
	background-color: #fff;
	border-top: 1px solid #ddd;
	color: #999;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
