@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import 'pixhub-variables.scss';

body {
	background-color: $bg;
	color: $fg;
	font-family: "Roboto Condensed";
	padding-top: 0px;
}

/*h1, h2, h3, h4, h5, h6 { color: #6f5f53; }*/

h1 {
	font-weight: 100;
	padding-bottom: 30px;
}

a,
a:focus {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
}

#header-signin:hover > #header-signin-panel {
	display: inline-block;
}

#header-signin-panel {
	background-color: $header-signin-bg;
	border: 1px solid $header-signin-border;
	color: $header-signin-fg;
	display: none;
	padding: 20px;
	position: absolute;
	right: 0;
	width: 400px;
}

#header-signin-panel:after, #header-signin-panel:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#header-signin-panel:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: $header-signin-bg;
	border-width: 12px;
	margin-left: -12px;
}
#header-signin-panel:before {
	border-color: rgba(245, 238, 235, 0);
	border-bottom-color: $header-signin-border;
	border-width: 13px;
	margin-left: -13px;
}

#header-signin-panel button,
#header-signin-panel button:focus {
	border: 1px solid #999;
	border-radius: 0;
	background-color: transparent;
	color: $header-signin-fg;
	transition: all .2s ease-in-out;
}

#header-signin-panel button:hover {
	background-color: lighten($header-signin-bg, 50%);
}

#header-signin-panel a {
	border: 0;
	color: $header-signin-fg;
}

#footer {
	background-color: $bg;
	border-top: 1px solid $footer-border;
	color: $footer-fg;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 1000;
}

.signin-password-forgotten {
	display: inline-block;
	vertical-align: middle;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
	transition: all .5s ease-in-out;
}

.navbar-search {
	width: 300px;
}


.navbar-brand,
.nav li a {
	padding-bottom: 15px;
	padding-top: 10px;
}

.nav li a:hover {
	background-color: transparent;
}

.navbar a,
.navbar a:focus {
	border-top: 5px solid transparent;
	color: #333;
}

.navbar a:hover {
	background-color: transparent;
	/*background: -webkit-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -o-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -moz-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);*/
	border-top: 5px solid black;
	/*color: #fff;*/
}

.navbar-transparent {
	background-color: transparent;
	border: 0;
}

.navbar-transparent a {
	color: #fff;
}

.navbar-transparent a:hover {
	border-top-color: #fff;
}

.navbar .avatar {
	border-width: 1px;
	display: inline-block;
	height: 1.6em;
	vertical-align: middle;
	margin-top: -0.3em;
}

.page {
	padding: 100px 0;
}

.page-shadow {
	border-top: 1px solid #999;
	box-shadow: 0 0 50px #999;
}

.form-info {
	font-size: 0.9em;
	margin: 20px 0;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.text-shadow {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.photo {
	box-shadow: 0 0 10px #000;
}

.photo-thumbnail {
	background-color: black;
	height: 100%;
	width: 100%;

	&:hover > .photo-thumbnail-overlay {
		opacity: 0.8;
	}
}

.photo-thumbnail-overlay {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	bottom: 0;
	margin-bottom: 15px;
	opacity: 0;

	height: 30%;
	position: absolute;
	transition: all .2s ease-in-out;
	width: 100%;
}

.photo-thumbnail-title {
	bottom: 0;
	color: #fff;
	font-size: 1.6em;
	font-weight: 100;
	padding: 30px;
	position: absolute;
}

.photo-thumbnail-title img {
	height: 50px;
	margin-right: 20px;
}

.user-grid-thumbnail {
	padding: 15px 0;
}

.avatar {
	border: 2px solid white;
	border-radius: 100%;
}

.tag {
	background-color: $brand-success;
	border-radius: 2px;
	color: #fff;
	padding: 2px 5px;

	&:hover {
		color: #fff;
	}
}
