@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import 'pixhub-variables.scss';

body {
	background-color: #fff;


	color: #333;

	padding-top: 50px;

	font-family: "Roboto Condensed";
}

/*h1, h2, h3, h4, h5, h6 { color: #6f5f53; }*/

h1 {
	font-weight: 100;
	padding-bottom: 30px;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
	transition: all .5s ease-in-out;
}

.navbar-search {
	width: 300px;
}

.navbar-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	border: 0;
}

.navbar-brand,
.nav li a {
	padding-bottom: 15px;
	padding-top: 10px;
}

.nav li a:hover {
	background-color: transparent;
}

.navbar a {
	border-top: 5px solid transparent;
	color: #333;
}

.navbar a:hover {
	background-color: transparent;
	/*background: -webkit-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -o-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -moz-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);*/
	border-top: 5px solid black;
	/*color: #fff;*/
}

.navbar-transparent {
	background-color: transparent;
	border: 0;
}

.navbar-transparent a {
	color: #fff;
}

.navbar-transparent a:hover {
	border-top-color: #fff;
}

#footer {
	background-color: #fff;
	border-top: 1px solid #ddd;
	color: #999;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
