@import 'pixhub-variables.scss';

$home-btn-bg: rgba(255, 255, 255, 0.4);
$home-btn-bg-hover: rgba(255, 255, 255, 0.8);
$home-btn-fg: #999;

body {
	background-image: url('../img/background-blue.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#footer {
	margin-top: 800px;
	position: absolute;
}


#home-welcome {
	color: #fff;
	padding: 200px 0;
	position:fixed;
}

#home-welcome-content {
	position: fixed;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}

#home-welcome .btn {
	border: 3px solid $home-btn-bg;
	border-radius: 0;

	transition: all .2s ease-in-out;
	margin-top: 30px;
	padding: 0;

	&:focus,
	&:hover { border: 9px solid $home-btn-bg-hover; box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);}
	width: 403px;
	height: 86px;

}

#home-welcome .btn-inr {
	background-color: $home-btn-bg;
	color: $home-btn-fg;
	display: block;
	font-weight: 100;
	font-size: 20px;
	margin: 6px;
	padding: 20px 0;
	text-shadow: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

#home-welcome .btn:hover .btn-inr {
	background-color: $home-btn-bg-hover;
	margin: 0px;
}

#home-welcome .btn .txt-a { display: inline; }
#home-welcome .btn .txt-b { display: none; }

#home-welcome .btn:focus .txt-a,
#home-welcome .btn:hover .txt-a { display: none; }
#home-welcome .btn:focus .txt-b,
#home-welcome .btn:hover .txt-b { display: inline; }

#home-presentation {
	background-color: #fff;
	font-size: 1.2em;
	font-weight: 100;
	padding: 100px 0;
	position: relative;
	top: 800px;
}

#home-presentation .row {
	padding: 50px 0;
}
