@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

$navbar-a-bg-top: rgba(0,0,0,0.2);
$navbar-a-bg-bottom: rgba(0,0,0,0);
$home-btn-bg: rgba(255, 255, 255, 0.4);
$home-btn-bg-hover: rgba(255, 255, 255, 0.8);
$home-btn-fg: #999;

body {
	background-color: #fff;
	background-image: url('../img/banniere.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	color: #333;

	padding-top: 50px;

	font-family: "Roboto Condensed";
}

/*h1, h2, h3, h4, h5, h6 { color: #6f5f53; }*/

#home-page {
	position: relative;
	top: 800px;
}

#home-welcome {
	color: #fff;
	padding: 200px 0;
	position:fixed;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#home-welcome-content {
	position: fixed;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}

#home-welcome .btn {
	border: 3px solid $home-btn-bg;
	border-radius: 0;

	transition: all .2s ease-in-out;
	margin-top: 30px;
	padding: 0;

	&:focus,
	&:hover { border: 9px solid $home-btn-bg-hover; box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);}
	width: 403px;
	height: 86px;

}

#home-welcome .btn-inr {
	background-color: $home-btn-bg;
	color: $home-btn-fg;
	display: block;
	font-weight: 100;
	font-size: 20px;
	margin: 6px;
	padding: 20px 0;
	text-shadow: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

#home-welcome .btn:hover .btn-inr {
	background-color: $home-btn-bg-hover;
	margin: 0px;
}

#home-welcome .btn .txt-a { display: inline; }
#home-welcome .btn .txt-b { display: none; }

#home-welcome .btn:focus .txt-a,
#home-welcome .btn:hover .txt-a { display: none; }
#home-welcome .btn:focus .txt-b,
#home-welcome .btn:hover .txt-b { display: inline; }


#home-presentation {
	background-color: #fff;
	border-top: 1px solid #999;
	box-shadow: 0 0 50px #999;
	font-size: 1.2em;
	font-weight: 100;

	padding: 100px 0;
}

#home-presentation h1 {
	font-weight: 100;
	padding-bottom: 30px;
}

#home-presentation .row {
	padding: 50px 0;
}

.navbar {
	background-color: transparent;
	border: 0;
	transition: all .5s ease-in-out;
}

.navbar-search {
	width: 300px;
}

.navbar-scroll {
	background-color: rgba(255, 255, 255, 0.9);
	/*box-shadow: 0px 0px 20px #fff;*/
	border-bottom: 1px solid #ccc;
}

.navbar-scroll a {
	color: #333 !important;
}

.navbar-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	border: 0;
}

.navbar a {
	color: #fff;
}

.navbar-nav li a:hover {
	background: -webkit-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom); /* Standard syntax (must be last) */
	color: #fff;
}

.footer {
	background-color: #fff;
	border-top: 1px solid #ddd;
	color: #999;
	padding: 20px 0;
	text-align: center;
}
