@import 'pixhub-dark.scss';

body {
	background-attachment: fixed;
	background-image: url('../img/explore-bg.jpg');
	background-position: center;
	background-size: cover;
}

#explore {
	color: #fff;
	padding-bottom: 50px;
	text-align: center;
}

#explore-title {
	color: #fff;
	height: 100vh;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

#explore-title a,
#explore-title span {
	display: block;
	padding: 0;
	line-height: 0;
}

#explore-title h1 {
	font-size: 3em;
}

#explore-title a {
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	transition: font-size 0.1s, color 0.1s;

	&:hover {
		color: #18d28a; //lighten($fg-dark, 20%);
		font-size: 4em;
	}
}

#explore-gallery {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
