$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

$header-signin-bg: rgba(0, 0, 0, 0.8);
$header-signin-border: #999;
$header-signin-fg: #fff;

$footer-fg: #999;
$footer-border: #ddd;
$footer-border-dark: #333;

$page-nav-bg: #333;
$page-nav-link: #ccc;
$page-nav-link-hover: #fff;

//
// Normal variant
//
$bg: #fff;
$fg: #333;

$link-color: #03A9F4;
$link-hover-color: #00BCD4;

$borders: #ddd;

//
// Dark variant
//
$bg-dark: #222;
$fg-dark: #999;

$link-color-dark: #ddd;
$link-hover-color-dark: white;
