@import 'pixhub-dark.scss';

#photo {
	padding-bottom: 0;
}

#photo-container {
	background-color: darken($bg-dark, 5%);
	padding: 30px;
}

#photo-container img {
	margin-left: auto;
	margin-right: auto;
}

#photo-informations {
	padding-top: 50px;
	padding-bottom: 50px;
}

#photo-title h1,
#photo-title h4 {
	margin: 0;
	padding: 0;
}

#photo-avatar {
	margin-right: 20px;
	height: 64px;
	width: 64px;
	min-height: 64px;
	min-width: 64px;


	display: inline-block;

	&:hover {
		border-color: $link-color;
	}
}

#photo-description {
	padding: 15px;
	//margin: 15px -30px;
	margin: 15px;
	text-align: justify;
}

#photo-title h1,
#photo-description {
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	hyphens: auto;
}

.photo-panel {
	padding: 30px 50px;
}

.separator {
	border-left: 1px solid $footer-border-dark;
}

.photo-exif {
	color: $brand-info;
	padding-right: 40px;
}
