@import 'pixhub-variables.scss';

body {
	color: $fg-dark;
}

body,
#footer {
	background-color: $bg-dark;
}

#footer {
	border-top: 1px solid $footer-border-dark !important;
}

.page-shadow {
	border-top: 1px solid lighten($bg-dark, 10%);
	box-shadow: 0 0 50px darken($bg-dark, 20%);
}