@import 'pixhub-dark.scss';

$user-cover-fg: #fff;
$user-cover-fg-shadow: #000;

#user-cover {
	background-image: url('../img/background-blue.jpg');
	background-size: cover;
	border-bottom: 1px solid #999;
	color: $user-cover-fg;
	height: 700px;
	padding-top: 150px;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 0px;
	z-index: -1
}

#user-name {
	font-size: 4em;
	font-weight: 100;
}

#user-avatar {
	border: 3px solid $user-cover-fg;
	height: 256px;
	margin: 0 auto;
	width: 256px;
}

#user-location {
	font-size: 1.3em;
}

#user-website a {
	color: $user-cover-fg;
}

#user-body {
	background-color: $bg-dark;
	padding: 0;
	margin: 0;
	//position: relative;
	margin-top: 700px;
	width: 100%;
	z-index: 1;
}

#user-page {
	padding: 50px 0;
}
