@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import 'pixhub-variables.scss';

body {
	background-color: #fff;


	color: #333;

	padding-top: 50px;

	font-family: "Roboto Condensed";
}

/*h1, h2, h3, h4, h5, h6 { color: #6f5f53; }*/

h1 {
	font-weight: 100;
	padding-bottom: 30px;
}


#header-signin:hover > #header-signin-panel {
	display: inline-block;
}

#header-signin-panel {
	background-color: $header-signin-bg;
	border: 1px solid $header-signin-border;
	color: $header-signin-fg;
	display: none;
	padding: 20px;
	position: absolute;
	right: 0;
	width: 400px;
}

#header-signin-panel:after, #header-signin-panel:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#header-signin-panel:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: $header-signin-bg;
	border-width: 12px;
	margin-left: -12px;
}
#header-signin-panel:before {
	border-color: rgba(245, 238, 235, 0);
	border-bottom-color: $header-signin-border;
	border-width: 13px;
	margin-left: -13px;
}

#header-signin-panel button,
#header-signin-panel button:focus {
	border: 1px solid #999;
	border-radius: 0;
	background-color: transparent;
	color: $header-signin-fg;
	transition: all .2s ease-in-out;
}

#header-signin-panel button:hover {
	background-color: lighten($header-signin-bg, 50%);
}

#header-signin-panel a {
	border: 0;
	color: $header-signin-fg;
}

#footer {
	background-color: #fff;
	border-top: 1px solid #ddd;
	color: #999;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.signin-password-forgotten {
	display: inline-block;
	vertical-align: middle;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
	transition: all .5s ease-in-out;
}

.navbar-search {
	width: 300px;
}

.navbar-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	border: 0;
}

.navbar-brand,
.nav li a {
	padding-bottom: 15px;
	padding-top: 10px;
}

.nav li a:hover {
	background-color: transparent;
}

.navbar a {
	border-top: 5px solid transparent;
	color: #333;
}

.navbar a:hover {
	background-color: transparent;
	/*background: -webkit-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -o-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: -moz-linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);
	background: linear-gradient(top, $navbar-a-bg-top, $navbar-a-bg-bottom);*/
	border-top: 5px solid black;
	/*color: #fff;*/
}

.navbar-transparent {
	background-color: transparent;
	border: 0;
}

.navbar-transparent a {
	color: #fff;
}

.navbar-transparent a:hover {
	border-top-color: #fff;
}

.page-default {
	padding: 50px 0;
}

.form-info {
	font-size: 0.9em;
	margin: 20px 0;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
}
